@{
	Layout = "_DashboardLayout";
}
@model IEnumerable<AFG_New_passport_Website.Models.Domain.PassportDuration>

<link href="~/css/dashboardliststyle/dashboardliststyle.css" rel="stylesheet" />


@* --------------------------------------------------------------------------- *@
<body class="light  dark ">
	<div class="form-container enhanced-form w-50">
		<div class="card shadow">
			<h3 class="text-center mb-4"><i class="fas fa-calendar-alt"></i> لیست مدت پاسپورت ها</h3>
			<hr />
			<p><a href="/PassportDuration/Create" class="btn btn-primary mb-3">
				
				<i class="fas fa-plus me-2"></i>
					اضافه کردن مدت  پاسپورت
				</a></p>


			<table class="table table-bordered table-hover">
				<thead>
					<tr class=" text-center">
						<th> ID </th>
						<th>مدت پاسپورت</th>
						<th>عملیات</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var passportDuration in Model)
					{
						<tr>
							<td>@passportDuration.Id</td>
							<td>@passportDuration.Name</td>
							<td class="d-flex justify-content-between">
								<a href="/PassportDuration/Edit/@passportDuration.Id" class="btn btn-warning btn-sm">
									<i class="fas fa-edit me-1"></i> ویرایش
								</a>

								<a href="/PassportDuration/Delete/@passportDuration.Id" class="btn btn-danger btn-sm">
									حذف
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>