@{
	Layout = "_DashboardLayout"; // استفاده از لی‌اوت داشبورد برای این صفحه
}
@model IEnumerable<AFG_New_passport_Website.Models.Domain.AppoinmentType>

<link href="~/css/dashboardliststyle/dashboardliststyle.css" rel="stylesheet" />



@* --------------------------------------------------------------------------- *@
<body class="light  dark ">
	<div class="form-container enhanced-form w-50">
		<div class="card shadow">
			<h5 class="text-center mb-4"><i class="fas fa-file-signature"></i> لیست نوعیت درخواست ‌ها</h5>
			<p>
				<a href="/AppoinmentType/Create" class="btn btn-primary mb-3">
					<i class="fas fa-plus me-2"></i>
					اضافه کردن نوع درخواست
				</a>
			</p>

					
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="text-center">
						<th> ID </th>
						<th>نوع درخواست</th>
						<th>عملیات</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var appoinmentType in Model)
					{
						<tr>
							<td>@appoinmentType.Id</td>
							<td>@appoinmentType.Type</td>
							<td class="d-flex justify-content-between">
								<a href="/AppoinmentType/Edit/@appoinmentType.Id" class="btn btn-warning btn-sm">
									<i class="fas fa-edit me-1"></i> ویرایش
								</a>

								<a href="/AppoinmentType/Delete/@appoinmentType.Id" class="btn btn-danger btn-sm">
									حذف
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>